section {
  padding-bottom: rem(100);
  .titleBox {
    font-size: rem(28);
    text-align: center;
    font-weight: bold;
    padding: 8% 0 4.8%;
    @include screen('tablet') {
      font-size: rem(22);
    }
  }
  .listBox {
    margin-bottom: rem(30);
  }
  .more {
    display: block;
    width: 170px;
    border-radius: 2px;
    position: relative;
    margin: 0 0 0 auto;
    color: #333333;
    font-size: rem(15);
    background: #cfcfcf;
    text-align: center;
    padding: 10px;
  }
  .h1 {
    margin: 34px 0;
    font-size: rem(52); //52px;
    color: #207ddc;
    letter-spacing: 2.3px;
    font-weight: 900;
    text-align: center;
    line-height: rem(52);
  }
  h2 {
    margin: 0;
    color: transparent;
    letter-spacing: 2.3px;
    margin: 0;
    position: relative;
    font-weight: 900;
    padding-top: 150px;
    &.over {
      color: $primary;
    }
    span {
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 50px;
        bottom: 0;
        right: 0;
        background-color: $primary;
        transition: 0.3s;
      }
    }
    &.start {
      span {
        &::after {
          width: 100%;
        }
      }
    }
    &.over {
      span {
        &::after {
          width: 0;
        }
      }
    }
  }
}

#section1 {
  height: 100vh;
  background-image: url('../images/customize/kv.jpg');
  background-size: cover;
  background-position: right;
  padding-bottom: 0;
  min-height: 882px;
  position: relative;
  overflow: hidden;
}
#animationContainer {
  position: absolute;
  left: 800px;
  top: 300px;
  z-index: 1;
  width: 580px;
  height: 420px;
  &::after {
    content: '';
    width: 1200px;
    height: 882px;
    background-image: url('../images/customize/svg/KVline.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: rem(-288); //-288px;
    right: rem(226); //226px;
    z-index: -1;
  }
  #canvas {
    width: 580px;
    height: 420px;
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0);
  }
}
#domOverlayContainer {
  pointer-events: none;
  overflow: hidden;
  width: 580px;
  height: 420px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
}
#section2 {
  padding-bottom: 150px;
  // overflow: hidden;
  .container {
    max-width: 1100px;
    .what {
      display: flex;
      justify-content: center;
    }
    .whatText {
      flex: 0 0 50%;
    }
    .whatImg {
      position: relative;
      left: 30px;
      bottom: -30px;
      img {
        position: relative;
        top: -100px;
        z-index: 1;
        max-width: 569px;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $secondary;
        height: 450px;
        width: 600px;
        left: 0px;
        bottom: 50px;
      }
    }
  }
  .yr {
    font-size: 18px;
    letter-spacing: 0.75px;
    color: #393939;
    border-left: solid 6px #f8b334;
    padding-left: 18px;
    line-height: 24px;
    width: 85%;
  }
}
#section3 {
  padding-bottom: 100px;
  overflow: hidden;
  .title {
    max-width: 1100px;
  }
  h2 {
    padding-top: 50px;
    position: relative;
    margin: 0;

    img {
      position: absolute;
      width: 477px;
      height: 221px;
      top: 30px;
      left: 100px;
    }
  }
  h3 {
    position: relative;
    z-index: 2;
    span {
      font-weight: 400;
      font-size: rem(20);
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 245px;
      height: 15px;
      background-color: #ffe282;
      top: 18px;
      right: 0;
      z-index: -1;
    }
  }
  .container {
    text-align: right;
    padding: 0;
  }
  .whoSlideTitle {
    font-size: rem(32); //32px;
    color: #fff;

    text-align: center;
    margin-top: 20px;
    position: relative;
    span {
      font-size: rem(80); //80px;
    }
  }
  .whoSlide {
    .slide1 {
      background-color: $primary;
      position: relative;
      margin-bottom: 80px;
      height: 400px;
      padding: 20px 80px 0 50px;
      &::after {
        content: '';
        position: absolute;
        right: -87px;
        bottom: -73px;
        width: 220px;
        background-image: url('../images/customize/svg/3.svg');
        height: 310;
      }
      .item {
        color: #fff;
        font-size: 20px;
        text-align: left;

        line-height: 1.5;
        padding: 0px 50px 0;
        letter-spacing: 2px;
        position: relative;
        .yellow {
          color: #ffe282;
          font-size: 30px;
        }
        .sub {
          font-size: 15px;
          margin-top: 10px;
          display: block;
        }
        &:first-child {
          width: 33%;
          padding-top: 30px;
          padding-right: 0;
          padding-left: 70px;
        }
        &:nth-child(2) {
          width: 42%;
        }
        &:first-child,
        &:nth-child(2) {
          border-right: solid 1px #ffe282;
          &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: solid 7px transparent;
            border-left: solid 9px #ffe282;
            border-right: solid 9px transparent;
            border-bottom: solid 7px transparent;
            position: absolute;
            right: -18px;
            top: 60px;
          }
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: solid 5px transparent;
            border-left: solid 7px $primary;
            border-right: solid 7px transparent;
            border-bottom: solid 5px transparent;
            position: absolute;
            right: -14px;
            top: 62px;
          }
        }
      }
    }
    .slide2 {
      .whoSlideTitle {
        color: #000;
      }
      background-color: $secondary;
      position: relative;
      height: 670px;
      &::after {
        content: '';
        position: absolute;
        left: -87px;
        bottom: -73px;
        width: 220px;
        background-image: url('../images/customize/svg/6.svg');
        height: 310px;
      }
      .goddess {
        position: absolute;
        right: -80px;
        top: 70px;
      }
      .who6Item {
        position: relative;

        .item {
          width: 190px;
          height: 215px;
          border: solid 1px $primary;
          border-radius: 5px;
          margin-top: 45px;
          box-sizing: border-box;
          padding: 0 10px 0 18px;
          text-align: start;

          .icon {
            width: 55px;
            height: 60px;
            border-radius: 50%;
            background-color: $primary;

            margin: 0 auto;
            position: relative;
            top: -33px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 80%;
            }
          }
          .title {
            color: $primary;
            border-bottom: 1px solid $primary;
            font-size: rem(20); //20px;
            font-weight: bold;
            padding-bottom: 10px;
            width: 80px;
            margin-top: -10px;
          }
          .text {
            color: #000;
            font-size: rem(17); //17px;
            margin-top: 15px;
            letter-spacing: 0.75px;
            line-height: 24px;
          }
        }
      }
      .who6ItemArea {
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
      }
    }
    .slide3 {
      background-color: #0062c6;
      border-left: solid 70px #fafafa;
    }
  }
  .whoItem,
  .who2Item {
    display: flex;
    margin-top: 50px;
  }
  .slide {
    max-width: 95%;
    margin: 0 auto;
  }
}
#section4 {
  padding-bottom: 150px;
  h2 {
    padding-top: 150px;
    text-align: center;
  }
  h3 {
    position: relative;
    z-index: 2;
    text-align: center;
    span {
      font-weight: 400;
      font-size: rem(20);
    }
    &::after {
      content: '';
      display: block;
      width: 493px;
      height: 15px;
      background-color: #ffe282;
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
    }
  }
  .group {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .tabContent {
    .title {
      font-size: rem(20); //20px;
      font-weight: bold;
      color: $primary;
      margin-bottom: 10px;
    }
    .result {
      font-size: rem(16); //16px;
      font-weight: bold;
      margin: 5px 0;
      position: relative;
      img {
        position: absolute;
        width: 70px;
        top: -45px;
        left: 350px;
      }
      span {
        display: inline-block;
        width: 95px;
        height: 35px;
        color: #fff;
        background-color: #ed776b;
        line-height: 35px;
        border-radius: 17.5px;
        text-align: center;
        margin-right: 15px;
        &.dark {
          background-color: #e6002c;
        }
      }
      &.resultSpan {
        margin: 15px 0;
      }

      &:last-child {
        img {
          left: 275px;
          top: -20px;
        }
      }
    }
  }
}
#section5 {
  text-align: center;
  margin-top: 30px;
  h2 {
    padding-top: 150px;
    margin-bottom: 50px;
    span {
      position: relative;
      z-index: 2;
    }
    img {
      width: 152px;
      height: 202px;
      position: absolute;
      left: calc(50% - 76px);
      top: 30px;
      z-index: 0;
    }
  }
  h3 {
    margin-bottom: 50px;
    position: relative;
  }
  ul {
    list-style: none;
  }
}
#section5-1 {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 0;
  .h1 {
    padding-top: 150px;
  }
  h2 {
    padding-top: 50px;
  }
  ul {
    list-style: none;
  }
}
#section5-2 {
  width: 100%;
  text-align: center;
  padding-top: 150px;
  margin-top: 30px;
  .slide4title {
    font-size: rem(32); //32px;
  }
  p {
    text-align: left;
    font-size: rem(20); //20px;
    margin: 30px auto;
    width: 70%;
    text-indent: -25px;
    padding-left: 25px;
    line-height: 1.15;
  }
}
#section5,
#section5-1,
#section5-2 {
  .slideContainer {
    width: 100vw;
    position: relative;
    .slide {
      width: 1200px;
      max-width: 95%;
      margin: auto;

      position: relative;
      box-sizing: border-box;
      padding-top: 20px;
    }
  }
  .workSlide {
    ul {
      li {
        width: 76px;
        height: 35px;
        border-radius: 17.5px;
        background-color: #0062c6;
        border: solid 2px #fff;
        color: #fff;
        margin-bottom: 40px;
        font-weight: 600;
        position: relative;
        font-size: rem(20); //20px;
        &:nth-child(even) {
          background-color: $secondary;
          color: #0e51b6;
        }
        p {
          position: absolute;
          color: #fff;
          font-size: rem(19.5); //19.5px;
          right: -490px;
          top: 0px;
          width: 460px;
          text-align: left;
          font-weight: 400;
          line-height: 1.33;
          margin: 0;
        }
      }
    }
    .slide {
      width: 1400px;
      height: 450px;
      display: flex;
      align-items: flex-end;
      .workSlideText {
        width: 52%;
        background-color: $secondary;
        height: 100%;
        padding-top: 50px;
        box-sizing: border-box;
        position: relative;
      }
      &:focus {
        border: none;
        outline: none;
      }
      &.slide2 {
        margin-top: 100px;
        .workSlideText {
          background-color: #0e51b6;
        }
        ul {
          li {
            &:first-child {
              &::after {
                height: 230px;
              }
            }
          }
        }
      }
      &.slide3 {
        height: 560px;
        .workSlideText {
          background-color: #207ddc;
          padding-top: 30px;
        }
        ul {
          li {
            &:first-child {
              &::after {
                height: 360px;
              }
            }
          }
        }
      }
      &.slide4 {
        height: auto;
        .workSlideText {
          background-color: $secondary;
          padding-top: 60px;
          padding-bottom: 120px;
        }
        ul {
          li {
            border: none;
            background-color: transparent;
          }
        }
      }
    }
    .slide2,
    .slide3 {
      ul {
        li {
          &:first-child {
            left: 14px;
            margin-bottom: 40px;
            &::before {
              content: '';
              display: block;
              position: absolute;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $primary;
              top: 5px;
              right: 5px;
              z-index: 0;
            }
            &::after {
              content: '';
              display: block;
              position: absolute;
              width: 1px;
              height: 405px;
              border-right: #fff 2px dashed;
              top: 40px;
              left: 50%;
              background-color: transparent;
            }
          }
          &:first-child,
          .num {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            color: $primary;
            font-size: rem(30); //30px;
            line-height: 50px;
            position: relative;
            border: none;
          }
        }
      }
    }
    .slide2,
    .slide3,
    .slide4 {
      ul {
        li {
          &:first-child {
            p {
              font-size: rem(32); //32px;
              letter-spacing: 1.6px;
              font-weight: 300;
              line-height: 1.2;
            }
            &::after {
              height: 230px;
            }
          }
        }
      }
    }
    .slide1 {
      ul {
        li {
          p {
            color: #000;
          }
        }
      }
    }
    .slide4 {
      ul {
        li {
          border: none;
          background-color: transparent;
          &:first-child {
            &::after {
              height: 270px;
            }
          }
        }
      }
    }
    .slickList {
      overflow: initial !important;
    }
  }
  .workSlideImg {
    width: 49%;
    img {
      width: 100%;
    }
  }
  .hammer {
    position: absolute;
    left: 55px;
    bottom: 60px;
    .mallet {
      width: 50px;
      position: relative;
      left: 76px;
      bottom: 20px;
      transform: rotate(0deg);
      transform-origin: bottom right;
      animation: hammer 2s infinite;
      &.play {
        animation: hammer 2s;
      }
    }
    .plate {
      width: 50px;
    }
  }
  @keyframes hammer {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-25deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-25deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

#section6 {
  > div {
    position: relative;
  }
  h3 {
    position: relative;
    z-index: 2;
    text-align: center;
    span {
      font-size: rem(20); //20px;
      font-weight: 400;
    }
  }
  h2 {
    padding-top: 150px;
    text-align: center;
    color: transparent;

    &.over {
      color: $primary;
    }
  }

  .section6Img1,
  .section6Img2 {
    overflow: hidden;
    img {
      position: sticky;
      top: 150px;
      margin-bottom: 100px;
    }
  }

  .section6Img1 {
    position: absolute;
    left: -600px;
    bottom: 60px;
    img {
      margin-bottom: 500px;
    }
  }
  .section6Img2 {
    height: 757px;
    width: 300px;
    position: absolute;
    right: 0px;
    bottom: 160px;
  }
  .mapArea {
    position: relative;
    text-align: center;
    margin: 0px auto;
    margin-top: 80px;
  }
  .mapHead {
    width: 80px;
    height: 80px;
    background-color: $primary;
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
    right: 5px;
    &:first-child {
      margin-top: 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 1200px;
        border-right: $primary 2px dashed;
        top: 40px;
        left: calc(50% + 2px);
        background-color: transparent;
        z-index: 1;
      }
    }
  }
  .mapHeadImg {
    width: 80px;
    height: 80px;
    background-color: $secondary;
    border-radius: 50%;
    margin: auto;
    position: relative;
    left: 5px;
    bottom: 10px;
    z-index: 2;
    img {
      position: relative;
      top: 15px;
    }
  }
  .mapItem {
    position: relative;
    width: 135px;
    background-color: $primary;
    color: #fff;
    margin: 50px auto;
    padding: 9px;
    font-size: rem(18); //18px;
    font-weight: bold;
    border-radius: 17.5px;
    line-height: 24px;
    z-index: 2;
    &:nth-child(even) {
      .mapDetail {
        left: 200px;
        text-align: left;
      }
    }
    &:nth-child(odd) {
      .mapDetail {
        right: 200px;
        text-align: right;
      }
    }
  }
  .mapDetail {
    position: absolute;
    top: 3px;
    color: #000;
    width: 400px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    .yellowback {
      display: inline-block;
      position: relative;
      z-index: 1;
      &:after {
        content: '';
        width: 100%;
        height: 15px;
        background-color: #ffe282;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-top: solid 100px #fafafa;
    border-left: solid 50vw transparent;
    border-right: solid 50vw transparent;
    border-bottom: solid 100px transparent;
    position: relative;
    top: 222px;
  }
}

#section7 {
  background-image: url('../images/customize/4job.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top 50px;
  padding-bottom: 100px;
  padding-top: 150px;
  h2 {
    color: transparent;
    text-align: center;
    letter-spacing: 2.3px;
    span {
      &:after {
        background-color: $secondary;
      }
    }
    &.over {
      color: $secondary;
    }
  }
  h3 {
    position: relative;
    text-align: center;
    z-index: 2;
    color: #fff;
    span {
      font-size: rem(20); //20px;
      font-weight: 400;
    }
    &:after {
      content: '';
      display: block;
      width: 190px;
      height: 15px;
      background-color: $primary;
      position: absolute;
      top: 18px;
      left: calc(50% - 95px);
      z-index: -1;
    }
  }
  .howTitle {
    font-size: rem(30); //30px;
    color: $secondary;
    position: relative;
    font-weight: bold;
    .yellow {
      color: $secondary;
    }
  }
  .block {
    margin: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
  }
  .block1 {
    height: 250px;
    width: 55%;
    background-color: $primary;
    margin-bottom: 40px;
    padding: 90px 40px;
    z-index: 1;
    position: relative;
    .howTitle {
      font-size: rem(30); //30px;
      color: $secondary;
      font-weight: bold;
      &::after {
        content: '？';
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $secondary;
        color: #fff;
        position: absolute;
        top: 0;
        left: -80px;
        font-size: 50px;
        line-height: 70px;
        text-align: center;
      }
      &::before {
        content: '';
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 10px;
        left: -90px;
      }
      .sub {
        color: #fff;
        font-size: rem(20); //20px;
        margin-top: 15px;
        font-weight: normal;
        line-height: 1.35;
      }
    }
    &::after {
      content: '';
      position: absolute;
      background: url('../images/customize/svg/youcanhelp.svg') no-repeat;
      width: 300px;
      height: 275px;
      top: 20px;
      right: -380px;
    }
  }
  .block2 {
    height: 490px;
    width: 55%;
    background-color: $secondary;
    padding: 90px 60px;
    box-sizing: border-box;
    margin-left: auto;
    margin-bottom: 40px;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    .howTitle {
      color: $primary;
      position: relative;
      font-size: rem(30); // 30px;
      font-weight: bold;
      margin-bottom: 50px;
      margin-left: rem(60);
      &::before {
        content: '';
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 10px;
        left: -90px;
      }
      &::after {
        background: $primary;
        content: '？';
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 0;
        left: -80px;
        font-size: 50px;
        line-height: 70px;
        text-align: center;
      }
      .sub {
        color: #000;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        position: relative;
        font-size: rem(20); //20px;
        margin-top: 15px;
        font-weight: normal;
        line-height: 1.35;
        &::before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: solid 9px #fff;
          border-left: solid 11px transparent;
          border-right: solid 11px transparent;
          border-bottom: solid 9px transparent;
          position: absolute;
          left: 100px;
          bottom: -18px;
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: solid 7px $secondary;
          border-left: solid 9px transparent;
          border-right: solid 9px transparent;
          border-bottom: solid 7px transparent;
          position: absolute;
          left: 102px;
          bottom: -14px;
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      background: url('../images/customize/lawyer.jpg') no-repeat;
      width: 400px;
      height: 255px;
      bottom: 0px;
      left: -435px;
    }
    .voting {
      width: 577px;
    }
  }
  .block3 {
    padding-top: 60px;
    &::after {
      display: none;
    }
  }
  .block4 {
    width: 1000px;
    margin: auto;
    background-color: #fff;
    position: relative;
    z-index: 2;
    top: -50px;
    border-radius: 5px;
    padding: 50px;
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: solid 11px transparent;
      border-left: solid 9px transparent;
      border-right: solid 9px transparent;
      border-bottom: solid 11px #fff;
      position: absolute;
      left: 30%;
      top: -20px;
    }
    .howTitle {
      color: $primary;
      width: 580px;
      margin: auto;
      position: relative;
      left: 50px;
    }
  }

  .block5 {
    width: 1000px;

    margin: 200px auto 20px;
    background-color: $primary;
    position: relative;
    z-index: 2;
    top: -50px;

    box-shadow: -20px 35px 0 $secondary;
    border-radius: 5px;
    padding: 50px;
    img {
      max-width: 100%;
    }
  }
  .slogan3 {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//****** media setting  *******

@media screen and (max-width: 1600px) {
  #animationContainer {
    left: auto;
    right: 220px;
  }
}
@media screen and (max-width: 1200px) {
  #section2 {
    .container {
      .whatImg {
        img {
          max-width: 100%;
        }
      }
    }
  }
  #section3 {
    .goddess {
      display: none;
    }
  }
  #section5,
  #section5-1 {
    .workSlide {
      ul {
        li {
          p {
            right: -390px;
            width: 360px;
            font-size: rem(18); //18px;
          }
        }
      }
      .slide {
        ul li {
          &:first-child {
            p {
              letter-spacing: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #animationContainer {
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0.9);
  }
  #section2 {
    padding-bottom: 50px;
    h2 {
      font-size: rem(28);
    }
    h3 {
      font-size: rem(18);
    }
    .container {
      .whatText {
        flex: 0 0 70%;

        max-width: 90%;
      }
      .whatImg {
        display: none;
      }
    }
  }
  #section3 {
    padding-bottom: 100px;
    .h1 {
      font-size: rem(40);
    }
    h2 {
      font-size: rem(28);
      width: 90%;
      margin: 0 auto;
      img {
        display: none;
      }
    }
    h3 {
      width: 90%;
      margin: 0 auto;
      font-size: rem(18);
      margin-bottom: 30px;
      span {
        font-size: rem(15);
      }
    }
    .whoSlideTitle {
      span {
        font-size: rem(60);
      }
      font-size: rem(18);
    }
    .whoSlide {
      .slide1 {
        height: auto;
        &::after {
          width: 75px;
          top: -30px;
          left: 30px;
          height: 105px;
          background-repeat: no-repeat;
        }
      }
      .whoItem {
        display: block;
        width: 250px;
        margin: auto;
        padding-bottom: 50px;
        .item {
          width: auto !important;
          border-right: none !important;
          padding: 0;
          padding-left: 0 !important;
          font-size: rem(15); //15px;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #ffe282;
          &:last-child {
            border: none;
          }
          .yellow {
            font-size: 20px;
          }
          &:first-child::before,
          &:nth-child(2)::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: solid 7px #ffe282;
            border-left: solid 9px transparent;
            border-right: solid 9px transparent;
            border-bottom: solid 7px transparent;
            position: absolute;
            left: 40px;
            bottom: -14px;
            top: unset;
          }
          &:first-child::after,
          &:nth-child(2)::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: solid 5px $primary;
            border-left: solid 7px transparent;
            border-right: solid 7px transparent;
            border-bottom: solid 5px transparent;
            position: absolute;
            left: 42px;
            bottom: -10px;
            top: unset;
          }
        }
      }
      .slide2 {
        height: auto;
        padding: 20px 80px 20px 50px;

        .who6ItemArea {
          height: auto;
          display: block;
          width: unset;
        }
        .who6Item {
          .item {
            width: 210px;
            height: 120px;
            margin: 20px auto;
            position: relative;
            padding: 12px 0px 12px 35px;
            box-sizing: border-box;
            .icon {
              position: absolute;
              left: -25px;
              top: calc(50% - 25px);
              width: 50px;
              height: 50px;
            }
            .title {
              margin-top: 0;
            }
            .text {
              margin-top: 5px;
              line-height: 19px;
              font-size: 16px;
            }
          }
        }
        &::after {
          width: 80px;
          top: -20px;
          left: 23px;
          height: 113px;
          background-repeat: no-repeat;
        }
      }
    }
  }
  #section4 {
    padding-bottom: 100px;

    h2 {
      span {
        font-size: rem(28);
      }
      margin-bottom: 15px;
      padding-top: 100px;
    }
    h3 {
      margin-top: 0;
      font-size: rem(18); //18px;

      span {
        font-size: rem(15);
        line-height: 30px;
        display: block;
      }
      &::after {
        width: 350px;
      }
    }
    .tabSet {
      .tabItems {
        button {
          font-size: rem(15);
          &.active {
            border: solid 5px $primary;
            &::before {
              bottom: -22px;
            }
          }
        }
      }
    }
    .tabContent {
      width: 90%;
      padding: 10px 20px;
      margin: 0 auto;
      font-size: rem(18);
      box-shadow: -5px 10px 0 $primary;
      .title {
        font-size: rem(18);
      }
      .result {
        font-size: 15px;
        text-indent: -88px;
        margin-left: 80px;
        span {
          width: 70px;
          height: 25px;
          line-height: 25px;
          margin-right: 15px;
          text-indent: initial;
        }
        img {
          width: 55px;
          top: -55px;
          left: 175px;
        }
        &:last-child {
          img {
            left: 225px;
          }
        }
        &.resultSpan {
          margin: 15px 0;
          margin-left: 80px;
        }
      }
    }
  }
  #section5 {
    h2 {
      padding-top: 100px;
      span {
        font-size: rem(28);
      }
      margin-bottom: 50px;
      img {
        top: -10px;
      }
    }
    h3 {
      font-size: rem(18);
    }
  }
  #section5-1 {
    .h1 {
      padding-top: 50px;
      font-size: rem(40);
    }
    h2 {
      padding-top: 0px;
      margin-bottom: 15px;
      span {
        font-size: rem(28);
      }
    }
    h3 {
      font-size: rem(18);
      margin: 0;
    }
  }
  #section5-2 {
    h2 {
      padding-top: 0px;
      margin-bottom: 0px;
      span {
        font-size: rem(28);
      }
    }
    h3 {
      font-size: rem(18);
      margin: 0;
    }
    .slide4title {
      font-size: rem(24);
      width: 80%;
      margin: 0 auto;
    }
    .workSlide {
      .slide {
        .workSlideText {
          // margin: 0 auto;
        }
      }
    }
  }
  #section5,
  #section5-1,
  #section5-2 {
    .slide {
      .workSlideImg {
        display: none;
      }
    }
    .workSlide {
      .slide {
        margin: 0 auto;
        .workSlideText {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  #section6 {
    padding-bottom: 0;
    &::after {
      top: 122px;
    }
    h2 {
      padding-top: 100px;
      font-size: rem(28);
    }
    h3 {
      font-size: rem(18);
      span {
        font-size: rem(15);
      }
    }
    .section6Img1,
    .section6Img2 {
      display: none;
    }
    .mapArea {
      margin: 50px 0;
      margin-bottom: 0px;
    }
    .mapItem {
      font-size: rem(15); // 15px;
      width: 80px;
      padding: 5px;
      margin: 30px auto;
      box-sizing: content-box;
      &:nth-child(even) {
        .mapDetail {
          left: 120px;
          font-size: rem(15); //15px;
        }
      }
      &:nth-child(odd) {
        .mapDetail {
          left: 120px;
          text-align: left;
          font-size: 15px;
        }
      }
    }
    .mapHead {
      &:first-child {
        &:after {
          height: 858px;
        }
      }
    }
    .sectionWrapper {
      width: 500px;
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
    .mapHead {
      margin: 60px auto;
      width: 75px;
      height: 75px;
    }
  }
  #section7 {
    background-image: url('../images/customize/4job_m.jpg');
    background-size: 100%;
    h2 {
      padding-top: 100px;
      margin-bottom: 15px;
      span {
        font-size: rem(28);
      }
    }
    h3 {
      font-size: rem(18);
      width: 90%;
      margin: 0 auto;
    }
    .block {
      width: 90%;
      padding: 60px 30px;
    }
    .block1 {
      margin-top: 200px;
      height: auto;

      &::after {
        top: -182px;
        right: 50px;
        width: 200px;
        height: 183px;
      }
    }
    .block2 {
      height: auto;
      &::after {
        display: none;
      }
    }
    .block1,
    .block2,
    .block3 {
      .howTitle {
        font-size: rem(18);
        &:after {
          width: 50px;
          height: 50px;
          left: -60px;
          font-size: 32px;
          line-height: 50px;
        }
        &::before {
          content: '';
          width: 50px;
          height: 50px;
          top: 5px;
          left: -65px;
        }
        .sub {
          font-size: rem(15);
        }
      }
    }
    .block3 {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  #section2 {
    h2 {
      padding-top: 100px;
    }
    .yr {
      width: 100%;
    }
    .container {
      .whatText {
        flex: 0 0 85%;
      }
    }
  }
  #section4 {
    h2 {
      margin-top: 0;
    }
    .tabSet {
      margin-top: 50px;
      .tabItems {
        button {
          width: 90px;
          height: 90px;
          margin: 10px;
          &::after {
            border-top: solid 6px transparent;
            border-left: solid 8px $primary;
            border-right: solid 6px transparent;
            border-bottom: solid 6px transparent;
            left: -15px;
            top: calc(50% - 6px);
          }
        }
      }
    }
  }
  #section5-2 {
    h2 {
      margin-top: 0;
    }
  }
  #section3 {
    .whoSlide {
      .slide2 {
        padding: 20px 50px 20px 50px;
      }
      .slide {
        &:after {
          width: 65px;
        }
      }
    }
  }
  #section6 {
    h2 {
      margin-top: 0;
    }
  }
  #section7 {
    padding-bottom: 0;

    .block4 {
      box-shadow: -10px 20px 0 $secondary;
    }
    .block5 {
      margin: 100px auto 5px;
    }
  }
}
@media screen and (max-width: 600px) {
  #section1 {
    background-image: url('../images/customize/kv_m.jpg');
  }
  #animationContainer {
    transform: scale(0.8);
    &::after {
      right: 166px;
    }
  }
  #section5,
  #section5-1,
  #section5-2 {
    .workSlide {
      ul {
        li {
          p {
            width: 300px;
            right: -330px;
            font-size: rem(15);
          }
        }
      }
    }
  }
  #section7 {
    .block1 {
      padding-left: 80px;
    }
    background-size: 100%;
    background-position: center top;
    background-attachment: unset;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 520px) {
  #section4 {
    .tabSet {
      .tabItems {
        button {
          width: 85px;
          height: 85px;
          margin: 5px;
          font-size: 14px;
          &::after {
            left: -8px;
          }
          &.active {
            &::after {
              left: -11px;
            }
          }
        }
      }
    }
  }
  #section5,
  #section5-1,
  #section5-2 {
    .workSlide .slide {
      ul {
        padding-left: 15px;
        li {
          &:first-child {
            p {
              font-size: rem(24);
            }
          }
          p {
            left: 85px;
            width: 210px;
          }
        }
      }
    }
  }
  #section5-1 {
    .workSlide .slide {
      ul {
        li {
          &:first-child {
            p {
              font-size: rem(15);
            }
          }
        }
      }
    }
  }
  #section6 {
    .sectionWrapper {
      max-width: 300px;
    }
    .mapDetail {
      width: 200px;
      line-height: 1.25;
      font-weight: 500;
    }
    .mapItem {
      margin: 60px auto;
      &:nth-child(3) {
        margin-bottom: 0px;
      }
      &:nth-child(9) {
        margin-bottom: 80px;
      }
    }
    .mapHead {
      &:first-child {
        &:after {
          height: 1100px;
        }
      }
    }
  }
  #section7 {
    h2 {
      padding-top: 50px;
    }
  }
}
@media screen and (max-width: 480px) {
  #section4 {
    .tabContent {
      .result {
        &:last-child {
          img {
            right: -20px;
            top: -10px;
            left: unset;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  #section4 {
    .tabSet {
      .tabItems {
        button {
          width: 75px;
          height: 75px;
          margin: 5px;
        }
      }
    }
    .tabContent {
      .result {
        img {
          width: 55px;
          left: 144px;
        }
      }
    }
  }
}
